{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock title %} | Hubble </title>
    <!-- Browser tab icon -->
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/png">
    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Styles -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Tailwind elements -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

</head>

<body class="min-h-screen bg-gray-50">

    <div class="flex h-screen">
        {% include 'layouts/'|add:request.subdomain|add:'_sidebar.html' %}

        <div class="overflow-hidden max-h-screen flex main-screen grow flex-col">
            <div class="header bg-white">
                <div class="px-5 pt-9 bg-mild-violet pb-7">
                    {% block header %}

                    {% endblock header %}
                </div>
            </div>

            <div class="overflow-auto grow bg-light-violet content-page">
                <div class="px-5 h-full">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>

        </div>


        <!-- Loader -->
        <div class="page-loader">
            <div class="gooey">
                <span class="dot"></span>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
        <!-- jQuery Modal -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
        <!-- Date range picker -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <!-- jQuery Mask Plugins -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-collapse.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script src="{% static 'js/search.js' %}"></script>
        <script>
            let showLoader = () => {
                $('.page-loader').show();
                hideLoader()
            }
            let hideLoader = () => {
                $('.page-loader').hide();
            }

            $(function () {
                $(".sub-category a").accordion();
                document.querySelector('.nav-animation').addEventListener('mouseleave', (event) => { $(".sub-category a").accordion('hide'); });
            })

            $(function () {
                hideLoader();
                $('.sub-category .sidebar-active').closest('.sub-category').addClass('sidebar-active');
            })

            $.ajaxSetup({
                headers: { 'X-CSRFToken': $("[name=csrfmiddlewaretoken]").val() },
            });

            function renderFormError(data) {
                if (Object.keys(JSON.parse(data.non_field_errors)).length > 0) {
                    $('#non_field_error').html('<span id="reason_error" class="ajax-error form_errors text-red-600">' + JSON.parse(data.non_field_errors)[0]['message'] + '</span>')
                }
                for (field in JSON.parse(data.field_errors)) {
                    console.log(JSON.parse(data.field_errors)[field][0])
                    console.log(JSON.parse(data.field_errors)[field][0].message)
                    $('#' + field + '_group').append('<span id="reason_error" class="form_errors ajax-error text-red-600">' + JSON.parse(data.field_errors)[field][0].message + '</span>');
                }
            }
        </script>

        {% block script %}
        {% endblock %}

    </div>

</body>

</html>