{% load static %}
{% comment %}<!DOCTYPE html>
<html lang="en" class=" jmmoexofkj idc0_345">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login | MT - Hubble</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{% static 'style/style.css' %}" rel="stylesheet">
</head>

<body class="">
    <section class="h-screen">
        <div class="h-full">
          <div
            class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
            <div
              class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12">
              <img
                src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="w-full"
                alt="Sample image" />
            </div>
            <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
                <div class="flex flex-row items-center justify-center lg:justify-start">
                    <p class="text-2xl font-bold font-mono mb-0 mr-4">Hubble - Mallow Tech</p>
                </div>

                <div
                    class="flex items-center my-6 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5">
                </div>
            <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
              <form method="POST">
                {% csrf_token %}
                <div class="relative mb-6" data-te-input-wrapper-init>
                  <input
                    type="text"
                    class="peer block min-h-[auto] w-full rounded border-0 bg-transparent py-[0.32rem] px-3 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                    id="email" name="email"
                    placeholder="Email address" />
                  <label
                    for="email"
                    class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-neutral-200"
                    >Email address
                  </label>
                </div>
                <div class="text-center lg:text-left">
                  <button
                    type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    data-te-ripple-init
                    data-te-ripple-color="light">
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
</body>

</html>{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form method="POST" action="/sign_in/">
        {% csrf_token %}
        <label for="email">email</label>
        <input type="email" type="email" name="email">
        <button type="submit">Login</button>
    </form> 
    {% if error_message %}
        {{ error_message }}
    {% endif %}   
</body>
</html>